.card {
  background: #fff;
  display: flex;
  flex-direction: column;
  max-width: 282px;
  border-radius: 10px;
}

.card__image {
  width: 100%;
}

.card__info {
  display: flex;
  flex-flow: row wrap;
  text-overflow: ellipsis;
  align-items: center;
  justify-content: space-between;
  margin: auto 20px auto 30px;
}

.card__caption {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 900;
}

.card__heart-button {
  background: url(../images/heart.svg) no-repeat 0 0;
  background-size: cover;
  border: none;
  padding: 9px 10.5px;
}
