.header {
  max-width: 880px;
  max-height: 74px;
  grid-area: header;
  display: flex;
  flex-flow: nowrap column;
  justify-content: space-between;
  margin-bottom: 40px;
}

.header__image {
  max-width: 173px;
  margin-bottom: 41px;
}

.header__line {
  content: "";
  flex-grow: 100;
  border-bottom: 1px solid #545454;
}
