.header {
  max-width: 880px;
  margin: 0 0 40px 0;
}

.header__image {
  max-width: 173px;
  margin: 0 0 41px 0;
}

.header__line {
  content: "";
  width: 100%;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 780px) {
  .header {
    width: 100%;
    margin: 0 0 42px 0;
  }

  .header__image {
    margin: 0 0 32px 27px;
  }
}

@media screen and (max-width: 320px) {
  .header__image {
    max-width: 126px;
  }
}
