.page {
  margin: 45px 200px 60px;
  max-width: 1280px;
  background-color: #000;
  color: #fff;
  display: grid;
  grid-template-areas:
    "header"
    "profile"
    "cards"
    "footer";
  justify-content: center;
}

.page__header {
  grid-area: header;
  margin: 0 0 40px 0;
}

.page__content {
  display: grid;
  grid-template-areas:
    "profile"
    "cards";
}

.page__profile {
  grid-area: profile;
  margin: 0 0 51px 0;
}

.page__cards {
  grid-area: cards;
  max-width: 880px;
  max-height: 742px;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 282px));
  grid-template-rows: repeat(2, minmax(auto, 361px));
  gap: 17px;
}

.page__footer {
  grid-area: footer;
  margin: 67px 0 0 0;
}
