.page {
  margin: 45px auto 60px;
  max-width: 880px;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

.page__header {
  display: flex;
  flex-flow: column nowrap;
}

.page__content {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

.page__profile {
  margin: 0 0 51px 0;
}

.page__cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 282px));
  gap: 17px;
  justify-content: center;
}

.page__footer {
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 780px) {
  .page {
    margin: 28px auto 36px;
  }

  .page__profile {
    margin: 0 0 36px 0;
  }
}

@media screen and (max-width: 580px) {
  .page__cards {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}

@media screen and (max-width: 320px) {
}
