.profile {
  grid-area: profile;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.profile__ellipse {
  content: "";
  text-overflow: ellipsis;
  max-width: 120px;
  max-height: 120px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #000;
}

.profile__image {
  width: 100%;
}

.profile__name {
}

.profile__description {
}

.profile__button {
}

.profile__button_type_edit {
  max-width: 24px;
  max-height: 24px;
  background: url(../images/edit-button.svg) 0 0 #fff;
}

.profile__button_type_add {
  max-width: 150px;
  max-height: 50px;
  background: url(../images/add-button.svg) 0 0 #fff;
  justify-self: flex-end;
}
