.view {
  flex-flow: column nowrap;
  justify-content: center;
}

.view__container {
  max-width: 75vw;
  max-height: 75vh;
  position: relative;
  background-color: opacity(0.5);
}

.view__image {
  max-width: 816px;
}

.view__caption {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.2;
  color: #fff;
  margin: 10px 0 0;
}

@media screen and (max-width: 780px) {
  .view__image {
    max-width: 585px;
  }
}

@media screen and (max-width: 580px) {
  .view__image {
    max-width: 240px;
  }
}
