.view {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.view__opened {
  display: flex;
}

.view__container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  margin: auto;
}

.view__image {
  max-width: 75vw;
  max-height: 75vh;
}

.view__close-button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -48px;
  right: -48px;
  background: url("../images/close-icon.svg") center no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
}

.view__close-button:hover {
  opacity: 0.6;
}

.view__caption {
}

@media screen and (max-width: 580px) {
  .view__container {
    width: 282px;
    height: 322px;
  }

  .view__title {
    width: 238px;
    font-size: 18px;
    margin: 25px 22px 0;
  }

  .view__form {
    margin: 75px 22px 25px;
  }

  .view__close-button {
    width: 26px;
    height: 26px;
    right: 0;
  }
}
