.profile {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.profile__avatar {
  max-width: 120px;
  margin: 0 30px 0 0;
  border-radius: 50%;
}

.profile__info {
  max-width: 415px;
  max-height: 77px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin: 0 0 7px 0;
}

.profile__divider {
  max-width: 415px;
  display: flex;
  align-items: center;
}

.profile__name {
  color: #fff;
  max-width: 373px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 42px;
  line-height: 1.2;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.profile__job {
  color: #fff;
  max-width: 415px;
  min-width: 282px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.profile__button:hover {
  opacity: 0.6;
}

.profile__button_type_edit {
  background: transparent url(../images/edit-button.svg) center no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
  padding: 12px 12px;
  margin: 0 0 0 18px;
}

.profile__button_type_add {
  background: transparent url(../images/add-button.svg) center no-repeat;
  background-size: cover;
  justify-self: flex-end;
  border: none;
  cursor: pointer;
  padding: 25px 75px;
  margin: 0 0 0 auto;
}

@media screen and (max-width: 780px) {
  .profile {
    flex-flow: column nowrap;
    justify-content: center;
  }

  .profile__avatar {
    margin: 0 0 30px 0;
  }

  .profile__info {
    max-width: 282px;
    align-items: center;
    justify-content: center;
    margin: 0 0 36px 0;
  }

  .profile__divider {
    max-width: 282px;
    justify-content: center;
  }

  .profile__name {
    max-width: 196px;
    text-align: center;
    font-size: 22px;
    margin: 0;
  }

  .profile__job {
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin: 14px 0 0 0;
  }

  .profile__button_type_edit {
    margin: 0 0 0 10px;
    padding: 9px 9px;
  }

  .profile__button_type_add {
    background: transparent url(../images/plus.svg) center no-repeat;
    border: 2px solid #fff;
    border-radius: 2px;
    margin: 0;
    padding: 25px 141px;
  }
}
